@import url('../css/reset.css');


.wrapper {
   width: 100%;
   min-height: 100%;
    overflow: hidden;
}
.page {
    position: relative;
    overflow: hidden;
}
.main-screen {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.parallax__mountain {
    position: fixed;
    height: 100%;
    width: 100%;
}
.mountain-1 {
    background: url('../img/m_1.png') center / cover no-repeat ;
    width: 100%;
    height: 100%;
}
.mountain-2 {
    background: url('../img/m_2.png') bottom right/ 55%  no-repeat;
    z-index: 1;
   
}
.mountain-3 {
    background: url('../img/m_3.png') bottom left / 100%  no-repeat ;
    z-index: 1;
}
.fog {
    background: url('../img/fog_1.png') bottom  / 100%  no-repeat ;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.content {
   position: relative;
   padding-top: 100vh;
   
   
}

.content__container {
    max-width: 1100px;
    margin: 0 auto;
}
.content__header {
    font-size: 200px;
    text-align: center;
}

.content__body {
    font-size: 32px;
    line-height: 120%;
    background-color: rgba(255, 255, 255, 0.5);
}
