@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #2F343A;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 70.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: rgb(158, 104, 2);
  font-weight: 700;
  letter-spacing: 0.125rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 1.125rem 3rem;
}

.button._fw {
  width: 100%;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.125rem;
  background: rgb(158, 104, 2);
  border-radius: 0.3125rem;
  line-height: 1.2;
  letter-spacing: 0.125rem;
  font-weight: 500;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.9375rem 2.1875rem 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 1.25rem;
  background-color: #fff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: -webkit-transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, -webkit-transform 0.5s ease-in-out 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 2.1875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 2.5rem;
}

.title::after {
  content: "";
  position: absolute;
  height: 0.125rem;
  width: 6.25rem;
  bottom: -80%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #C8A35F;
}

.action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.action__item {
  width: 3.75rem;
  border-radius: 50%;
  height: 3.75rem;
  background: #aab0b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.action__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 50%;
  height: 100%;
  background: rgba(53, 84, 134, 0.4235294118);
  -webkit-animation: grow 1.8s infinite;
          animation: grow 1.8s infinite;
}

.action__link {
  display: block;
  position: relative;
  z-index: 3;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.action__link img {
  width: 100%;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }

  25% {
    -webkit-transform: rotate(-30deg) scale(1.2);
            transform: rotate(-30deg) scale(1.2);
  }

  50% {
    -webkit-transform: rotate(0) scale(1.3);
            transform: rotate(0) scale(1.3);
  }

  75% {
    -webkit-transform: rotate(30deg) scale(1.2);
            transform: rotate(30deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }

  25% {
    -webkit-transform: rotate(-30deg) scale(1.2);
            transform: rotate(-30deg) scale(1.2);
  }

  50% {
    -webkit-transform: rotate(0) scale(1.3);
            transform: rotate(0) scale(1.3);
  }

  75% {
    -webkit-transform: rotate(30deg) scale(1.2);
            transform: rotate(30deg) scale(1.2);
  }

  100% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #2F343A;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.5625rem;
     -moz-column-gap: 1.5625rem;
          column-gap: 1.5625rem;
}

.header__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.header__phone {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  z-index: 50;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 3.125rem;
  position: relative;
  z-index: 50;
}

.header__logo:not(:last-child) {
  margin-right: 1.875rem;
}

.header__logo a::after {
  position: absolute;
  top: 0;
  right: -1.25rem;
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
}

.header__logo img {
  width: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
  position: relative;
}

.menu__link {
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

.menu__link::before {
  position: absolute;
  content: "";
  bottom: -20%;
  left: 50%;
  width: 0;
  height: 0.125rem;
  background: hsla(39, 74%, 59%, 0.993);
  -webkit-box-shadow: 2px 2px 5px hsla(39, 74%, 59%, 0.993), 5px 5px 10px hsla(39, 74%, 59%, 0.5);
          box-shadow: 2px 2px 5px hsla(39, 74%, 59%, 0.993), 5px 5px 10px hsla(39, 74%, 59%, 0.5);
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.icon-menu {
  color: transparent;
}

.icon-menu {
  display: none;
}

.page__main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 52, 58, 0.75)), to(rgba(47, 52, 58, 0.75)));
  background: linear-gradient(0deg, rgba(47, 52, 58, 0.75) 0%, rgba(47, 52, 58, 0.75) 100%);
}

.main {
  min-height: 100vh;
  position: relative;
  padding-bottom: 3.125rem;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: translate(-50%, 0rem);
            transform: translate(-50%, 0rem);
  }

  50% {
    -webkit-transform: translate(-50%, -0.3125rem);
            transform: translate(-50%, -0.3125rem);
  }

  100% {
    -webkit-transform: translate(-50%, 0rem);
            transform: translate(-50%, 0rem);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: translate(-50%, 0rem);
            transform: translate(-50%, 0rem);
  }

  50% {
    -webkit-transform: translate(-50%, -0.3125rem);
            transform: translate(-50%, -0.3125rem);
  }

  100% {
    -webkit-transform: translate(-50%, 0rem);
            transform: translate(-50%, 0rem);
  }
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
}

.main__content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding-top: 2.8125rem;
  padding-bottom: 2.8125rem;
  border: 1px solid #C8A35F;
}

.main__content p {
  letter-spacing: 0.0625rem;
  line-height: 1.58;
}

.main__action {
  z-index: 2;
  text-align: center;
  padding: 1.25rem 0.9375rem;
}

.main__button:not(:last-child) {
  margin-bottom: 3.125rem;
}

.main__title {
  font-weight: 700;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.advantages__container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.advantages__title {
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  line-height: 1.23;
  text-align: center;
}

.advantages__title:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.advantages__title span {
  color: #C8A35F;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5625rem, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.875rem;
}

.advantage__item {
  padding: 1.25rem 0.625rem;
  border: 2px solid #C8A35F;
  -webkit-box-shadow: 5px 5px 20px rgba(200, 163, 95, 0.6);
          box-shadow: 5px 5px 20px rgba(200, 163, 95, 0.6);
}

.item-advantage {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  text-align: center;
  background: #45484d;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.item-advantage._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.item-advantage__image {
  padding: 1.25rem 2.5rem;
}

.item-advantage__image img {
  width: 100%;
  max-width: 7.5rem;
}

.item-advantage__title {
  font-weight: 700;
  letter-spacing: 0.125rem;
  font-size: 1.5625rem;
}

.item-advantage__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-advantage__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6;
}

.order__wrapper {
  padding: 2.8125rem 1.875rem;
  z-index: 2;
  position: relative;
  text-align: center;
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  max-width: 31.25rem;
  margin: 0 auto;
  background-color: rgba(33, 47, 68, 0.6784313725);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 0.625rem;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.order__wrapper._watcher-view {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.order__title {
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.order__subtitle {
  font-size: 1.125rem;
}

.form-order {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
}

.form-order__input {
  padding: 0.9375rem;
  border-radius: 0.3125rem;
  outline: 0.0625rem solid #C8A35F;
  font-size: 1.0625rem;
  font-weight: 500;
  color: rgba(69, 72, 77, 0.8352941176);
}

.form-order__input:focus {
  outline: 2px solid hsla(39, 59%, 49%, 0.993);
}

.spollers {
  padding-top: 1.5625rem;
}

.spollers__item {
  min-height: 4.375rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.services__items {
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.1875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 18.125rem;
          flex: 0 1 18.125rem;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.services__item._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.item-service__image {
  position: relative;
  padding-bottom: 60%;
}

.item-service__image:not(:last-child) {
  margin-bottom: 1.25rem;
}

.item-service__text {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.2;
}

.about::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 47, 68, 0.6784313725);
}

.about__title {
  position: relative;
  z-index: 3;
}

.about__content {
  position: relative;
  z-index: 2;
  padding: 0.9375rem 0.625rem;
}

.about__content p {
  font-size: 1.125rem;
  line-height: 1.6;
  text-indent: 3.125rem;
}

.about__content span {
  color: #C8A35F;
}

.about__label {
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 500;
}

.about__label:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.price__text {
  font-size: 1.125rem;
  line-height: 1.6;
}

.price__body {
  display: -ms-grid;
  display: grid;
  gap: 1.5625rem;
  padding: 0.3125rem;
}

.item-price {
  opacity: 0;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  -ms-grid-column-align: center;
      justify-self: center;
}

.item-price._watcher-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.item-price__title {
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.5625rem;
}

.table {
  border-collapse: collapse;
  line-height: 1.6;
}

.table th {
  font-weight: 500;
  font-size: 1.125rem;
}

.table tr,
.table td,
.table th {
  border: 1px solid #C8A35F;
  padding: 0.3125rem;
}

.table__header {
  font-weight: 700;
  font-size: 1.125rem;
}

.table__row {
  font-size: 0.9375rem;
  font-weight: 500;
  text-align: center;
}

.contacts__container p {
  padding-bottom: 1.875rem;
  font-size: 1.125rem;
  line-height: 1.6;
}

.contacts__action {
  max-width: 31.25rem;
  margin: 0 auto;
}

@media (min-width: 29.99875em) {
  .main::after {
    content: "";
    position: absolute;
    bottom: 1.5625rem;
    left: 50%;
    width: 1.875rem;
    height: 1.875rem;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: url("../img/main/mouse.svg") no-repeat;
    z-index: 2;
    -webkit-animation: swing infinite 1s linear;
            animation: swing infinite 1s linear;
  }

  .spollers {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  }
}

@media (min-width: 47.99875em) {
  .price__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 70.625em) {
  .title {
    font-size: 2.5rem;
  }

  .header__container {
    padding-top: 2.5rem;
  }

  .header__container {
    padding-bottom: 2.5rem;
  }

  .menu__list {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .main__container {
    padding-top: 18.75rem;
  }

  .main__content {
    padding-right: 4.375rem;
  }

  .main__content {
    padding-left: 4.375rem;
  }

  .main__content p {
    font-size: 1.125rem;
  }

  .main__title {
    font-size: 3.6875rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }

  .advantages__title {
    font-size: 2.5rem;
  }

  .advantages__items {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .order__container {
    padding-top: 6.25rem;
  }

  .order__container {
    padding-bottom: 6.25rem;
  }

  .order__title {
    font-size: 2.5rem;
  }

  .questions__container {
    padding-top: 3.125rem;
  }

  .questions__container {
    padding-bottom: 3.125rem;
  }

  .services__container {
    padding-top: 3.125rem;
  }

  .services__container {
    padding-bottom: 3.125rem;
  }

  .about__container {
    padding-top: 4.375rem;
  }

  .about__container {
    padding-bottom: 4.375rem;
  }

  .price__container {
    padding-top: 4.375rem;
  }

  .price__container {
    padding-bottom: 4.375rem;
  }

  .price__text {
    padding-top: 4.375rem;
  }

  .price__text {
    padding-bottom: 4.375rem;
  }

  .contacts__container {
    padding-top: 4.375rem;
  }

  .contacts__container {
    padding-bottom: 4.375rem;
  }

  .contacts__container p {
    padding-top: 2.5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.25rem;
  }

  .header__container {
    padding-top: 0.625rem;
  }

  .header__container {
    padding-bottom: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .main__container {
    padding-top: 6.25rem;
  }

  .main__content {
    padding-right: 0.625rem;
  }

  .main__content {
    padding-left: 0.625rem;
  }

  .main__content p {
    font-size: 0.875rem;
  }

  .main__title {
    font-size: 1.75rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .advantages__title {
    font-size: 1.25rem;
  }

  .advantages__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .order__container {
    padding-top: 3.125rem;
  }

  .order__container {
    padding-bottom: 3.125rem;
  }

  .order__title {
    font-size: 1.5625rem;
  }

  .questions__container {
    padding-top: 1.5625rem;
  }

  .questions__container {
    padding-bottom: 1.5625rem;
  }

  .services__container {
    padding-top: 1.5625rem;
  }

  .services__container {
    padding-bottom: 2.1875rem;
  }

  .about__container {
    padding-top: 1.875rem;
  }

  .about__container {
    padding-bottom: 1.875rem;
  }

  .price__container {
    padding-top: 1.875rem;
  }

  .price__container {
    padding-bottom: 1.875rem;
  }

  .price__text {
    padding-top: 1.875rem;
  }

  .price__text {
    padding-bottom: 1.875rem;
  }

  .contacts__container {
    padding-top: 1.875rem;
  }

  .contacts__container {
    padding-bottom: 2.5rem;
  }

  .contacts__container p {
    padding-top: 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    background: rgba(71, 77, 85, 0.9058823529);
    width: 100%;
    top: 0;
    left: -100%;
    padding-top: 5rem;
    height: 100%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    font-size: 1.25rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .table th {
    font-size: 0.875rem;
  }

  .table__header {
    font-size: 0.875rem;
  }

  .table__row {
    font-size: 0.75rem;
  }
}

@media (min-width: 20em) and (max-width: 70.625em) {
@supports (font-size: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .title {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem )) {
    .header__container {
      padding-top: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem )) {
    .header__container {
      padding-top: calc(0.625rem + 1.875 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem )) {
    .header__container {
      padding-bottom: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem )) {
    .header__container {
      padding-bottom: calc(0.625rem + 1.875 * (100vw - 20rem) / 50.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) or (column-gap: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem );
         -moz-column-gap: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem );
              column-gap: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) or (column-gap: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 50.625);
         -moz-column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 50.625);
              column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 6.25rem , 1.3117283951rem  +  24.6913580247vw , 18.75rem )) {
    .main__container {
      padding-top: clamp( 6.25rem , 1.3117283951rem  +  24.6913580247vw , 18.75rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 1.3117283951rem  +  24.6913580247vw , 18.75rem )) {
    .main__container {
      padding-top: calc(6.25rem + 12.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.8564814815rem  +  7.4074074074vw , 4.375rem )) {
    .main__content {
      padding-right: clamp( 0.625rem , -0.8564814815rem  +  7.4074074074vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.8564814815rem  +  7.4074074074vw , 4.375rem )) {
    .main__content {
      padding-right: calc(0.625rem + 3.75 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.8564814815rem  +  7.4074074074vw , 4.375rem )) {
    .main__content {
      padding-left: clamp( 0.625rem , -0.8564814815rem  +  7.4074074074vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.8564814815rem  +  7.4074074074vw , 4.375rem )) {
    .main__content {
      padding-left: calc(0.625rem + 3.75 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7762345679rem  +  0.4938271605vw , 1.125rem )) {
    .main__content p {
      font-size: clamp( 0.875rem , 0.7762345679rem  +  0.4938271605vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7762345679rem  +  0.4938271605vw , 1.125rem )) {
    .main__content p {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.75rem , 0.9845679012rem  +  3.8271604938vw , 3.6875rem )) {
    .main__title {
      font-size: clamp( 1.75rem , 0.9845679012rem  +  3.8271604938vw , 3.6875rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 0.9845679012rem  +  3.8271604938vw , 3.6875rem )) {
    .main__title {
      font-size: calc(1.75rem + 1.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.1967592593rem  +  3.7037037037vw , 2.8125rem )) {
    .main__title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.1967592593rem  +  3.7037037037vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.1967592593rem  +  3.7037037037vw , 2.8125rem )) {
    .main__title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 1.875 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .advantages__title {
      font-size: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.7561728395rem  +  2.4691358025vw , 2.5rem )) {
    .advantages__title {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem ))) {
    .advantages__items {
      -webkit-column-gap: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem );
         -moz-column-gap: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem );
              column-gap: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem )) or (column-gap: clamp( 1.875rem , 1.3811728395rem  +  2.4691358025vw , 3.125rem ))) {
    .advantages__items {
      -webkit-column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 50.625);
         -moz-column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 50.625);
              column-gap: calc(1.875rem + 1.25 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.8904320988rem  +  6.1728395062vw , 6.25rem )) {
    .order__container {
      padding-top: clamp( 3.125rem , 1.8904320988rem  +  6.1728395062vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.8904320988rem  +  6.1728395062vw , 6.25rem )) {
    .order__container {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.8904320988rem  +  6.1728395062vw , 6.25rem )) {
    .order__container {
      padding-bottom: clamp( 3.125rem , 1.8904320988rem  +  6.1728395062vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.8904320988rem  +  6.1728395062vw , 6.25rem )) {
    .order__container {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 50.625);
    }
}

@supports (font-size: clamp( 1.5625rem , 1.1921296296rem  +  1.8518518519vw , 2.5rem )) {
    .order__title {
      font-size: clamp( 1.5625rem , 1.1921296296rem  +  1.8518518519vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , 1.1921296296rem  +  1.8518518519vw , 2.5rem )) {
    .order__title {
      font-size: calc(1.5625rem + 0.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) {
    .questions__container {
      padding-top: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) {
    .questions__container {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) {
    .questions__container {
      padding-bottom: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) {
    .questions__container {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) {
    .services__container {
      padding-top: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 0.9452160494rem  +  3.0864197531vw , 3.125rem )) {
    .services__container {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 1.8171296296rem  +  1.8518518519vw , 3.125rem )) {
    .services__container {
      padding-bottom: clamp( 2.1875rem , 1.8171296296rem  +  1.8518518519vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 1.8171296296rem  +  1.8518518519vw , 3.125rem )) {
    .services__container {
      padding-bottom: calc(2.1875rem + 0.9375 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .about__container {
      padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .about__container {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .about__container {
      padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .about__container {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__container {
      padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__container {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__container {
      padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__container {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__text {
      padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__text {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__text {
      padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .price__text {
      padding-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .contacts__container {
      padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.887345679rem  +  4.9382716049vw , 4.375rem )) {
    .contacts__container {
      padding-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.7592592593rem  +  3.7037037037vw , 4.375rem )) {
    .contacts__container {
      padding-bottom: clamp( 2.5rem , 1.7592592593rem  +  3.7037037037vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.7592592593rem  +  3.7037037037vw , 4.375rem )) {
    .contacts__container {
      padding-bottom: calc(2.5rem + 1.875 * (100vw - 20rem) / 50.625);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem )) {
    .contacts__container p {
      padding-top: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.1157407407rem  +  3.7037037037vw , 2.5rem )) {
    .contacts__container p {
      padding-top: calc(0.625rem + 1.875 * (100vw - 20rem) / 50.625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background: hsla(39, 59%, 49%, 0.993);
    -webkit-box-shadow: 0 0 5px hsla(39, 74%, 59%, 0.993), 0 0 10px hsla(39, 74%, 59%, 0.6), 0 0 20px hsla(39, 74%, 59%, 0.3);
            box-shadow: 0 0 5px hsla(39, 74%, 59%, 0.993), 0 0 10px hsla(39, 74%, 59%, 0.6), 0 0 20px hsla(39, 74%, 59%, 0.3);
  }

  .action__link:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-animation: shake 2s infinite;
            animation: shake 2s infinite;
  }

  .header__phone:hover {
    color: #C8A35F;
  }

  .menu__link:hover {
    color: #C8A35F;
  }

  .menu__link:hover::before {
    left: 0;
    width: 100%;
  }
}